/* Softlocked - Eric Guo, Micheal Borczuk
       SoftDev pd1
       K18 -- CSS basics
       2021-11-23

	 WORK FILE for CSS
  */

  body {
    background-color: #666666;
    font-family: Arial;
  }

  #Coloring{
    background-color: #767676;
  }

  h1 {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: lightgray;
  }

  #Spacing {
    position: absolute; 
    left:20px; 
    top:140px;
  }

  h3 {
    padding-left: 10;
    text-align: left;
  }

  ul {
    color: white;
    list-style-type: none;
    padding-left: 10;
    padding-bottom: 200;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  #move {
    position: absolute;
    left:140px;
    top:70px;
  }

  #copyright {
    padding: 10px; 
    color: gray;
    background-color: #606060;
    font-size: large;
    text-align:right;
  }
  
  #Spacing2 {
    position: absolute;
    left:20px;
    top: 70px;
  }
